[submodule "A3700-utils-marvell"]
	path = A3700-utils-marvell
	url = https://github.com/MarvellEmbeddedProcessors/A3700-utils-marvell.git
[submodule "cryptopp"]
	path = cryptopp
	url = https://github.com/weidai11/cryptopp.git
[submodule "mox-boot-builder"]
	path = mox-boot-builder
	url = https://gitlab.nic.cz/turris/mox-boot-builder.git
[submodule "mox-imager"]
	path = mox-imager
	url = git@github.com:stvhay/mox-imager.git
[submodule "mv-ddr-marvell"]
	path = mv-ddr-marvell
	url = https://github.com/MarvellEmbeddedProcessors/mv-ddr-marvell.git
[submodule "trusted-firmware-a"]
	path = trusted-firmware-a
	url = git@github.com:stvhay/trusted-firmware-a.git
[submodule "u-boot"]
	path = u-boot
	url = git@github.com:stvhay/u-boot.git
[submodule "stable"]
	path = linux
	url = git@github.com:stvhay/linux.git
